certifi==2018.4.16
click==6.7
gunicorn==19.7.1
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
fix-yahoo-finance==0.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.1
pandas==0.23.4
pandas-datareader==0.6.0
python-dateutil==2.7.3
pytz==2018.5
Quandl==3.4.2
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.12
Werkzeug==0.14.1
